[submodule "emacs/lb-datalog-mode"]
	path = emacs/lb-datalog-mode
	url = git@github.com:gbalats/lb-datalog-mode.git
[submodule "emacs/use-package"]
	path = emacs/use-package
	url = git@github.com:jwiegley/use-package.git
[submodule "emacs/autodisass-java-bytecode"]
	path = emacs/autodisass-java-bytecode
	url = git@github.com:gbalats/autodisass-java-bytecode.git
[submodule "emacs/autodisass-llvm-bitcode"]
	path = emacs/autodisass-llvm-bitcode
	url = git@github.com:gbalats/autodisass-llvm-bitcode.git
